* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans'
}

header {
	display: flex;
	background: white;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	padding: 18px;
}

.left-head {
	display: flex;
	height: 100px;
	align-items: center;
}

a {
	color: gray;
}

.drop-menu-btn {
	font-size: 64px;
	padding: 16px;
}

h1 {
	display: inline-block;
	color: black;
	font-family: 'Permanent Marker';
	font-size: 60px;
	margin-left: 26px;
	padding-bottom: 10px;
}

.right-head {
	display: flex;
	align-content: center;
	padding: 10px;
}

.search-btn {
	font-size: 64px;
	padding-top: 8px;
}

.profile-btn {
	font-size: 64px;
	margin-left: 20px;
	padding-top: 8px;
}

.sign-in-btn {
	text-decoration: none;
	background-color: rgb(253, 215, 0);
	color: white;
	font-size: 36px;
	padding: 20px 45px 8px 45px;
	border-radius: 60px;
	font-weight: bold;
	margin-left: 20px
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 0; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: white; 
	overflow-x: hidden; 
}

.side-nav a {
	text-decoration: none;
	font-size: 45px;
	color: #333;
	padding-left: 150px;
	width: 300px
}

.side-nav li {
	display: flex;
	height: 100px;
	align-items: center;
}

.home {
	padding: 15px 0 15px 0;
	border-bottom: 2px solid rgb(236, 232, 232);
}

.home-icon {
	font-size: 56px;
}

#overlay {
	position: fixed; 
	display: none; 
	width: 0; 
	height: 100%; 
	top: 0; 
	left: -500;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
}